{% extends 'base.html' %}

{% block content %}
{% load static %}

{% comment %} 영화 검색창 {% endcomment %}
{% comment %} background img 필요 {% endcomment %}
<section>
  <div
  class="bg-image p-5 mt-5 text-center shadow-1-strong rounded mb-5"
  style="background-image: url('/static/main{{ num }}.jpeg'); background-size:cover; height:500px;"
>
  <div class="mx-auto bg-dark rounded" style="width:320px; height:120px; margin-top: 150px;">
    <div class="mx-auto text-light" style= "display: flex; justify-content: center;">
      <h3 style="margin-top: 15px;">Find Your Destination</h3>
    </div>
      <div class="mx-auto" style= "display: flex; justify-content: center; width: 300px; height:50px; margin-bottom: 100px;">
        <form class="row g-3" action="{% url 'movies:movie_search' %}" method="GET">
          <div class="col-auto">
            <label class="sr-only" for="search">Destination</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="도착지를 입력하세요">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-light btn-outline-dark mb-3">검색</button>
          </div>
        </form>   
      </div>
  </div>
</div>
</section>

<hr class="m-4">
{% comment %} 도시별 영화 추천 {% endcomment %}
<section>
<div class="m-4" style="padding-top: 50px; padding-bottom: 50px;">
  <h3 class="my-2 text-center">도시별 영화 추천</h3>
  <div class="row row-cols-2 row-cols-lg-4 g-4 mx-5"style="margin-top:50px;">
    <div class="col ml-2">
      <div class="card text-center h-100 img">
        <h5 class="card-title my-4">빛의 도시, 파리</h5>
        <img src="{% static 'paris.jpg' %}" height="" class="card-img-top scale" alt="빛의 도시, 파리">
        <div>
          <a class="btn my-4" href="list/?search=프랑스">Go to Paris</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center h-100 img">
        <h5 class="card-title my-4">Big Apple, NY</h5>
        <img src="{% static 'NY.jpg' %}" class="card-img-top scale" alt="Big Apple, NY">
        <div>
          <a class="btn my-4" href="list/?search=미국">Go to New York</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center h-100 img">
        <h5 class="card-title my-4">발리우드 뭄바이</h5>
        <img src="{% static 'India.jpeg' %}" class="card-img-top scale" alt="발리우드 뭄바이">
        <div>
          <a class="btn my-4" href="list/?search=인도">Go to Mumbai</a>
        </div>
      </div>
    </div>
    <div class="col mr-2">
      <div class="card text-center h-100 img">
        <h5 class="card-title my-4">열정의 리우데자네이루</h5>
        <img src="{% static 'Rio.jpeg' %}" class="card-img-top scale" alt="열정의 리우데자네이루">
        <div>
          <a class="btn my-4" href="list/?search=브라질">Go to Rio de Janeiro</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<hr class="my-4">
{% comment %} 패키지 추천 {% endcomment %}
<section>
  <div class="m-4" style="padding-top: 50px; padding-bottom: 50px;">
    <h3 class="my-2 text-center" style="">패키지 영화 추천</h3>
    <div class="row row-cols-2 row-cols-lg-4 g-4 mx-5" style="margin-top:50px;">
      <div class="col ml-2">
        <div class="card text-center h-100 img">
          <h5 class="card-title my-4">끝나지 않은, 분노의 질주</h5>
          <img src="{% static 'F&F.jpg' %}" height="" class="card-img-top mb-3 scale" alt="빛의 도시, 파리">
          <a href="{% url 'movies:movie_detail' 133 %}" class="mb-1">분노의 질주: 더 맥시멈</a>
          <a href="{% url 'movies:movie_detail' 134 %}" class="mb-1">분노의 질주: 더 얼티메이트</a>
          <a href="{% url 'movies:movie_detail' 5 %}" class="mb-1">분노의 질주: 언리미티드</a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100 img">
          <h5 class="card-title my-4">Manners Maketh Man</h5>
          <img src="{% static 'Kingsman.jpeg' %}" class="card-img-top mb-3 scale" alt="Big Apple, NY">
          <a href="{% url 'movies:movie_detail' 158 %}" class="mb-1">킹스맨: 시크릿 에이전트</a>
          <a href="{% url 'movies:movie_detail' 159 %}" class="mb-1">킹스맨: 골든 서클</a>
          <a href="{% url 'movies:movie_detail' 160 %}" class="mb-1">킹스맨: 퍼스트 에이전트</a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100 img">
          <h5 class="card-title my-4">해리포터와 마법의 세계로</h5>
          <img src="{% static 'HP.jpg' %}" class="card-img-top mb-3 scale" alt="발리우드 뭄바이">
          <a href="{% url 'movies:movie_detail' 153 %}" class="mb-1">해리 포터와 마법사의 돌</a>
          <a href="{% url 'movies:movie_detail' 154 %}" class="mb-1">해리 포터와 비밀의 방</a>
          <a href="{% url 'movies:movie_detail' 155 %}" class="mb-1">해리 포터와 아즈카반의 죄수</a>
          <a href="{% url 'movies:movie_detail' 156 %}" class="mb-2">해리 포터와 불의 잔</a>
        </div>
      </div>
      <div class="col mr-2">
        <div class="card text-center h-100 img">
          <h5 class="card-title my-4">우리가 사랑한 스파이, 007</h5>
          <img src="{% static '007.jpg' %}" class="card-img-top mb-3 scale" alt="열정의 리우데자네이루">
          <a href="{% url 'movies:movie_detail' 105 %}" class="mb-1">007 언리미티드</a>
          <a href="{% url 'movies:movie_detail' 127 %}" class="mb-1">007 퀸텀 오브 솔러스</a>        
          <a href="{% url 'movies:movie_detail' 104 %}" class="mb-1">007 스카이폴</a>
          <a href="{% url 'movies:movie_detail' 123 %}" class="mb-2">007 노 타임 투 다이</a>
        </div>
      </div>
    </div>
  </div>
</section>
<style>


html, body{width: 100%; height:100%;}

.main > section {
  width: 100%;
  height: 100%;
  position: relative;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0,0,0,0);
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   
}
.scale:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  cursor:crosshair
}
.img {overflow:hidden } 
</style>
{% endblock content %}