{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px; margin-bottom: 50px">
  <h1>Review Update</h1>
  </div>
  <div style="width: 700px; margin-top: 10px;" class="mx-auto">
  <form action="{% url 'community:review_update' review.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="my-4" style="text-align:center;">
      <input class="btn btn-primary" type="submit" value="SUBMIT">
      <a class="btn btn-secondary" href="">BACK</a>
    </div>
  </form>
  </div>
{% endblock content %}
