{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px; margin-bottom: 50px">
  <p>{{ review.movie_title }}</p>
  <h1 class="">{{ review.title }}</h1>
  <p><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
  <div class="text-black-50">Written at | {{ review.created_at }}</div>
  <div class="text-black-50">Updated at | {{ review.updated_at }}</div>
</div>
<div style="width: 700px; margin-top: 10px;" class="mx-auto">
  <div id="detail">
  <p>평점: {{ review.rate }}</p>
  <p>{{ review.content }}</p>
  {% if request.user == review.user %}
    <form action="{% url 'community:review_delete' review.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
  {% endif %}
  </div>
  <hr>
  <div id="comment">
  <h5>댓글 <span class="text-primary">{{ comments|length }}</span></h5>
  {% for comment in comments %}
      <span><a href="{% url 'accounts:profile' comment.user.username %}">{{ comment.user }}</a></span>
      <span class="text-black-50">  |  {{ comment.created_at }}</span>
      <p>{{ comment.content }}</p>
      
        {% if request.user == comment.user %}
          <form action="{% url 'community:review_comment_delete' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
        {% endif %}

  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
</div>
  <hr>
  <div id="comment_form">
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:review_comment_create' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <div style="text-align: right; margin-right: 20px;" ><input type="submit"></div>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <div class="my-4" style="text-align:center;">
  <a class="btn btn-primary" href="{% url 'community:review_list' %}">BACK</a>
  </div>
</div>
</div>


<style>
  #comment {
    margin-left: 10px;
  }
  #detail {
    margin-left: 10px;
  }

  #comment_form {
    margin-left: 10px;
  }
</style>
{% endblock content %}