{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px; margin-bottom: 50px">
<h1>New Review</h1>
</div>
<div id="create-form" style="margin-top: 10px;" class="mx-auto mb-5">
<form style="margin-left: 10px;" action="{% url 'community:review_create' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <div id="buttons" class="my-4">
    <input class="btn btn-warning" type="submit" value="SUBMIT">
    <a class="btn btn-secondary" href="{% url 'community:review_list' %}">BACK</a>
  </div>
</form>
</div>

<style>
  h1 {
    color: #FFD700;
    font-weight: bold;
  }

  #create-form {
    width: 800px;
    background: white;
    border-radius: 10px;
    padding: 15px;
  }

  #buttons {
    text-align:center;
  }
</style>
{% endblock content %}