{% extends 'base.html' %}

{% block content %}
{% comment %} 제목, 작성자, 작성일, 수정일 {% endcomment %}
<div class="text-center" style="padding-top: 50px; margin-bottom: 50px">
  <p class="text-white-50">{{ review.movie_title }}</p>
  <h1>{{ review.title }}</h1>
  <p><a id="review-user" class="text-white" href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
  <div class="text-white-50">Written at | {{ review.created_at }}</div>
  <div class="text-white-50">Updated at | {{ review.updated_at }}</div>
</div>

{% comment %} 디테일 {% endcomment %}
<div id="review-box" class="mx-auto mb-5">
<div style="min-width: 700px; max-width: 1200px; margin-top: 10px;" class="mx-auto">
  {% comment %} 디테일 {% endcomment %}
  <div id="detail">
  <p>평점: {{ review.rate }}</p>
  <p class="my-5">{{ review.content }}</p>
  {% if request.user == review.user %}
  <a class="btn btn-outline-info btn-sm" href="{% url 'community:review_update' review.pk %}" style="float:left;" >수정</a>
    <form action="{% url 'community:review_delete' review.pk %}" method="POST">
      {% csrf_token %}
      <input class="btn btn-outline-info btn-sm" type="submit" value="삭제" style=" margin-left:10px;">
    </form>
  {% endif %}
  </div>

  {% comment %} 좋아요 버튼 {% endcomment %}

  <div id="container">
    <form style="margin-left: 10px;" id="like-form" data-id="{{ review.pk }}" class="d-inline">
      {% csrf_token %}
      {% if user in review.like_users.all %}
      <div id="likeButton" class="heart-like-button liked" data-id="{{ review.pk }}"></div>
      {% else %}
      <div id="likeButton" class="heart-like-button" data-id="{{ review.pk }}"></div>
      {% endif %}
    </form>
      <div id="like-count">
        {{ review.like_users.all|length }}  
      </div>
  </div>

  <hr>
  {% comment %} 댓글 {% endcomment %}
  <div id="comment">
  <h5 class="mb-3">댓글 <span class="text-warning fw-bold">{{ comments|length }}</span></h5>
  {% for comment in comments %}
      <span><a class="text-dark" id="comment-user" href="{% url 'accounts:profile' comment.user.username %}">{{ comment.user }}</a></span>
      <span class="text-black-50">  |  {{ comment.created_at }}</span>
      <p class="mt-2">{{ comment.content }}</p>
        {% if request.user == comment.user %}
        {% comment %} <a class="btn btn-outline-info btn-sm" href="{% url 'community:review_comment_update' comment.pk review.pk %}" style="float:left;" >수정</a> {% endcomment %}
          <form action="{% url 'community:review_comment_delete' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
        {% endif %}

  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  </div>

  {% comment %} comment 작성란 {% endcomment %}
  <div id="comment_form">
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:review_comment_create' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <div style="text-align: right;" ><input class="btn btn-warning btn-sm" type="submit" value="WRITE"></div>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <div class="my-4" style="text-align:center;">
  <a class="btn btn-secondary" href="{% url 'community:review_list' %}">BACK</a>
  </div>
  </div>
</div>
</div>


<style>
  h1 {
    color: #FFD700;
    font-weight: bold;
  }

  #review-user:link, #comment-user:link {
    text-decoration: none;
    font-weight: 500;
  }

  #review-user:hover, #comment-user:hover {
    text-decoration: underline;
    font-weight: 500;
  }

  #review-box {
    background : white;
    width : 800px;
    border-radius: 10px;
    padding: 15px;
    max-width: 1200px;
  }

  #comment {
    margin-left: 10px;
  }
  #detail {
    margin-left: 10px;
  }

  #comment_form {
    margin-left: 10px;
  }

  {% comment %} 버튼 둥글게
  .btn {
    border-radius: 12px;
  } 
  {% endcomment %}

  {% comment %} like button css {% endcomment %}

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 30px 15px;
  }
  .heart-like-button {
    position: relative;
    width: 30px;
    height: 30px;
  }
  #like-count {
    margin-left: 9px;
  }
  .heart-like-button:before {
    position: absolute;
    top: 0;
    left: 15px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 15px;
    height: 25px;
    border-radius: 40px 40px 0 0;
    background-color: #d3d3d3;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 15px;
    height: 25px;
    border-radius: 40px 40px 0 0;
    background-color: #d3d3d3;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart-like-button.liked::before,
  .heart-like-button.liked::after {
    background-color: #d65076;
  }
  .heart-like-button.liked {
    animation: liked .4s ease;
  }
  @keyframes liked {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
{% endblock content %}

{% block script %}
<script>
  {% comment %} 좋아요 버튼 {% endcomment %}
const likeForm = document.querySelector('#like-form')
const likeButton = document.querySelector(".heart-like-button")
  if (likeForm) {
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    likeButton.addEventListener('click', function(event) {
      console.log(event.target)
      const reviewId = event.target.dataset.id
      const URL = `http://127.0.0.1:8000/community/${reviewId}/like/`
      axios.post(URL)
      .then(res => {
        const count = res.data.count
        const liked = res.data.liked
        const likeCount = document.querySelector(`#like-count`)
        const likeButton = document.querySelector(".heart-like-button")
        if (liked) {
          likeButton.classList.add("liked");
        } else {
          likeButton.classList.remove("liked");
        }
        likeCount.innerText = count
      }
)})}

</script>
{% endblock script %}
