{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px; margin-bottom: 50px; min-width: 900px; max-width: 1500px;">
  <h1>Change Password</h1>
</div>

<div class="mx-auto" style="min-width: 900px; max-width: 1500px; margin-top: 10px;">
  <form action="{% url 'accounts:change_password' %}" method="POST" class="mx-auto" style="width:500px;">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="my-4 mx-auto" style="text-align:center;"><input class="btn btn-primary" type="submit" value="비밀번호 변경"></div>
  </form>
</div>
{% endblock content %}