{% extends 'base.html' %}

{% block content %}
{% comment %} <div class="text-center" style="margin-top: 50px; margin-bottom: 50px; min-width: 900px; max-width: 1500px;">
  <h1>Change Password</h1>
</div>

<div class="mx-auto" style="min-width: 900px; max-width: 1500px; margin-top: 10px;">
  <form action="{% url 'accounts:change_password' %}" method="POST" class="mx-auto" style="width:500px;">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="my-4 mx-auto" style="text-align:center;"><input class="btn btn-primary" type="submit" value="비밀번호 변경"></div>
  </form>
</div> {% endcomment %}

<div class="text-center" style="margin-top: 40px; margin-bottom: 40px;  ">
  <h1 style="color:#FFD700; font-weight:bold;">Change Password</h1>
</div>
<div class="main">
  <div class="mx-auto">
    <form action="{% url 'accounts:change_password' %}" method="POST" style="margin-left:30px; padding-top:30px">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="my-4 mx-auto" style="text-align:center;"><input class="btn btn-warning" type="submit" value="비밀번호 변경"></div>
    </form>
  </div>  
  <div class="mx-auto" style="text-align:center; margin-top:100px;">
    <button onclick="history.back()" class="btn btn-sm btn-secondary" style="">BACK</button>
  </div>
</div>

<style>
  .main{
    margin: auto;
    margin-bottom: 200px;
    border-radius: 30px;
    height: 500px;
    width: 730px;
    background: white;
    box-shadow: 0px 20px 100px rgba(0,0,0,0.1);
  }
</style>

{% endblock content %}