{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px; margin-bottom: 50px">
  <h1>{{ person.username }}님의 PROFILE</h1>
  <div class="text-white-50">
    팔로잉 :
    <span id="following-count">
      {{ person.following.all|length }}
    </span>
    |  팔로워 :
    <span id="follower-count">
      {{ person.follower.all|length }}
    </span>
  </div>
  
  <div>
    {% if request.user != person %}
      <div class="mt-3">
        <form data-person-id="{{ person.pk }}" id="follow-form">
          {% csrf_token %}
          {% if request.user in person.follower.all %}
            <button id="followBtn" class="btn btn-outline-danger btn-sm">언팔로우</button>
          {% else %}
            <button id="followBtn" class="btn btn-outline-success btn-sm">팔로우</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
    {% if request.user == person %}
    <div class="mt-3">
      <a href="{% url 'accounts:update' %}" class="btn btn-outline-secondary btn-sm">회원정보 수정</a>
      <a href="{% url 'accounts:change_password' %}" class="btn btn-outline-secondary btn-sm">비밀번호 변경</a>
    </div>
    {% endif %}
  </div>

</div>

<div style="min-width: 700px; max-width: 1200px; margin-top: 10px;" class="mx-auto">
<h3 class="text-center">WATCHED LIST</h3>
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for movie in person.watched_list.all %}
    <div class="swiper-slide">
      <img src="https://themoviedb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}"/>
    </div>
    {% endfor %}
  </div>
  <div class="mt-5"><div class="swiper-pagination"></div></div>
</div>

<hr>
<h3 class="text-center my-4">MOVIE REVIEW</h3>
<div id="review-list" class="mx-auto mb-5">
  {% for review in person.review_set.all %}
    <h5><a class="text-decoration-none text-dark" href="{% url 'community:review_detail' review.pk %}">{{ review.title }}</a></h5>
    <p class="text-secondary">{{ review.content }}</p>
    <hr>
  {% endfor %}
</div>

</div>
{% endblock %}

<hr>

{% block script %}
<script>
  // swiper
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: false,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
  
  // follow
  const formTag = document.querySelector('#follow-form')
  if (formTag) {
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    formTag.addEventListener('submit', function(event) {
      event.preventDefault()
      const personId = event.target.dataset.personId
      const URL = `http://127.0.0.1:8000/accounts/${personId}/follow/`
      axios.post(URL)
      .then(res => {
        const followerCount = res.data.follower_count
        const followed = res.data.followed
        const followBtn = document.querySelector('#followBtn')
        const followerNum = document.querySelector('#follower-count')
        if (followed === true) {
          followBtn.innerText = '언팔로우'
          followBtn.className = 'btn btn-outline-danger btn-sm'
        } else {
          followBtn.innerText = '팔로우'
          followBtn.className = 'btn btn-outline-success btn-sm'
        }
        followerNum.innerText = followerCount
      })
    })
  }
</script>

<style>
html, body {
  position: relative;
  height: 100%;
    }

h1, h3 {
  color: #FFD700;
  font-weight: bold;
}

#review-list {
  background : white;
  width : 800px;
  border-radius: 10px;
  padding: 15px;
  max-width: 1200px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  margin-right: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #FFD700;
}
</style>
{% endblock script %}
